/* Home */
.country-name {
    font-size: 14px;
    padding: 15px 0px 15px;
    margin-left: 5%;
}

.country-name i {
    margin-top: 5px;
    cursor: pointer;
    color: #c5cae9;
}

.home h3 , .liga h3 , .team h3 {
    padding-bottom: 2%;
    border-bottom: 1px solid #c5cae9;
}


/* liga */
.liga .center a {
    margin-top: 1%;
}


/* About */
.about {
    margin-top: 5%;
}

.about .card {
    border: none;
    outline: none;
    box-shadow: none;
}

/* team */
tr .responsive-img {
    width: 30px;
    height: 30px;
    padding-right: 5px;

}

#button-team {
    width: 30%;
}

#body-render-button {
    width: 100%;
}

#button a{
    width: 50%;
}

#body-render-button a {
    margin-top: 2%;
}