/* Home */

.home {
}

.home .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

.country-name {
    font-size: 20px;
    width: 320px;
    padding: 15px;
}

.country-name i {
    margin-top: 5px;
    cursor: pointer;
    color: #c5cae9;
}

.home h3{
    padding-bottom: 2%;
    border-bottom: 1px solid #c5cae9;
}


/* liga */
.liga{

}

#bendera{
    width: 30%;
    margin-top: 5%;
}

.liga .row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    /* border: 2px solid black; */
    margin-left: 10%;
}


/* About */
.about{
    margin-top: 5%;
}

.about .card{
    border: none;
    outline: none;
    box-shadow: none;
}